In [19]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler
from sklearn.metrics import confusion_matrix
import pandas as pd

In [2]:
config = SparkConf()
spark = SparkSession.builder.master("local").appName("test").config(conf=config).getOrCreate()

In [17]:
# Preparing the data
train = spark.read.option("header", "true").csv(r"data\train.csv")
# filtre et supprime les donn√©es "NA"
train = train.filter(train.Age != "NA")
# Supprime les colonnes inutiles
cols = ('SibSp', 'Parch', 'Fare', 'Ticket' ,'Cabin', 'Embarked')
train = train.drop(*cols)
train.tail(10)

[Row(PassengerId='881', Survived='1', Pclass='2', Name='Shelley, Mrs. William (Imanita Parrish Hall)', Sex='female', Age='25'),
 Row(PassengerId='882', Survived='0', Pclass='3', Name='Markun, Mr. Johann', Sex='male', Age='33'),
 Row(PassengerId='883', Survived='0', Pclass='3', Name='Dahlberg, Miss. Gerda Ulrika', Sex='female', Age='22'),
 Row(PassengerId='884', Survived='0', Pclass='2', Name='Banfield, Mr. Frederick James', Sex='male', Age='28'),
 Row(PassengerId='885', Survived='0', Pclass='3', Name='Sutehall, Mr. Henry Jr', Sex='male', Age='25'),
 Row(PassengerId='886', Survived='0', Pclass='3', Name='Rice, Mrs. William (Margaret Norton)', Sex='female', Age='39'),
 Row(PassengerId='887', Survived='0', Pclass='2', Name='Montvila, Rev. Juozas', Sex='male', Age='27'),
 Row(PassengerId='888', Survived='1', Pclass='1', Name='Graham, Miss. Margaret Edith', Sex='female', Age='19'),
 Row(PassengerId='890', Survived='1', Pclass='1', Name='Behr, Mr. Karl Howell', Sex='male', Age='26'),
 Row(PassengerId='891', Survived='0', Pclass='3', Name='Dooley, Mr. Patrick', Sex='male', Age='32')]