In [1]:
!pip install --upgrade pip 
!pip install pandas
!pip install matplotlib
!pip install sklearn

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: pip in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (22.1.2)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: pandas in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: matplotlib in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (3.5.2)
Requirement already satisfied: numpy>=1.17 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (1.4.3)
Requirement already satisfied: packaging>=20.0 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (9.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /snap/jupyter/6/lib/python3.7/site-packages (from matplotlib) (2.8.0)
Requirement already satisfied: cycler>=0.10 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: pyparsing>=2.2.1 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7->matplotlib) (1.12.0)
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Requirement already satisfied: sklearn in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /home/jeantalgornthomas/snap/jupyter/common/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.7.3)

In [2]:
import pandas as pd
import matplotlib.pyplot as mp
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
label_encoder = LabelEncoder()

In [3]:
# Chargement CSV Train
train = pd.read_csv("titanic/data/train.csv", index_col=0)
train.tail()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [4]:
#Trie des données du train
train = train[train['Age'].notna()]
train = train[train['Sex'].notna()]
train = train[train['Pclass'].notna()]
train = train.drop(columns=['Name', 'Fare', 'Ticket' ,'Cabin', 'Embarked'])

train['Sex']=label_encoder.fit_transform(train['Sex'])

train.tail()

             Survived  Pclass  Sex   Age  SibSp  Parch
PassengerId
886                 0       3    0  39.0      0      5
887                 0       2    1  27.0      0      0
888                 1       1    0  19.0      0      0
890                 1       1    1  26.0      0      0
891                 0       3    1  32.0      0      0

In [5]:
y = train['Survived']
y

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
886    0
887    0
888    1
890    1
891    0
Name: Survived, Length: 714, dtype: int64

In [6]:
X = train.drop(columns=['Survived'])
X

             Pclass  Sex   Age  SibSp  Parch
PassengerId
1                 3    1  22.0      1      0
2                 1    0  38.0      1      0
3                 3    0  26.0      0      0
4                 1    0  35.0      1      0
5                 3    1  35.0      0      0
...             ...  ...   ...    ...    ...
886               3    0  39.0      0      5
887               2    1  27.0      0      0
888               1    0  19.0      0      0
890               1    1  26.0      0      0
891               3    1  32.0      0      0

[714 rows x 5 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
# Création du Decision Tree CLassifier
clf = DecisionTreeClassifier(criterion="entropy", max_depth=3)

clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7627118644067796